/* boton cerrar session */
#cerrar_sesion {
	background:#252932;
  float: right;  
}


h2#tienda {
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color:#ddd;
}

label {
    font-family: arial;
  }


.button {
padding: 5px 10px
center;
}
.container {
    height: 100vh;
}

.w-form{
    width: 40%;
}



/* header.................................................................................................... */
header {
	width:100%; 
	overflow:hidden; /* Eliminamos errores de float */
	/* background:#252932; */
	background:black;
	margin-bottom:20px;
    color: black;

}

.wrapper {
	width: 1000%; 
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; /* Eliminamos errores de float */
}

 .logo {
	color:#f2f2f2;
	font-size:35px;
	line-height:200px;
	float:left;
}

header nav {
	float:right;
	/* line-height:200px; */
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	line-height:100px;


}

header nav a:hover {
	background:black;
	border-radius:50px;
  margin: 10%;

}
/* fin............................................................................................................... */

/* header2............................................................................................................... */
.header2 {
	position: fixed;
	height:100px;
  display: flex;
  flex-wrap: wrap;
  min-width: none;
}

.header2 .logo {
	line-height:100px;
	font-size:30px;
}

.header2 nav {
	line-height:100px;
}

/* fin............................................................................................................... */

/* * {
    box-sizing: border-box;
  } */
/* Barra lateral............................................................................................................... */
  /* Style the side navigation */
  .sidenav {
    height: 100%;
     width: 240px; /*Ancho de barra lateral */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
   
  }
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
   
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
   
  }
/* fin............................................................................................................... */
  
